.navbar-brand {
    font-family: Garamond;
    font-size: 24px;
    letter-spacing: 1px;
}

.navbar {
    background-color: white;
    font-family: Garamond;
    font-size: 18px;
    letter-spacing: 1px;
}

body {
    font-family: 'Sailec','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.btn-agregar {
    float: right;
    width: 35px;
    height: 35px;
    padding: 4px 12px 6px 12px;
    text-align: center;
    font-family: monospace
}

.info-producto, nombre-producto {
    color: #1d1d1b;
    font-family: 'Sailec','Helvetica Neue',Helvetica,Arial,sans-serif;
    letter-spacing: .1em;
    font-weight: 400;
    line-height: 1.4;
    font-style: normal;
}
.info-producto {
    font-size: 11px;   
}

.nombre-producto {
    font-size: 16px;
    line-height: 20px;
}


.hovereffect {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

    .hovereffect .overlay {
        width: 100%;
        position: absolute;
        overflow: hidden;
        left: 0;
        top: auto;
        bottom: 0;
        padding: 1em;
        height: 4.75em;
        background: #79FAC4;
        color: #3c4a50;
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0);
        visibility: hidden;
    }

    .hovereffect img {
        display: block;
        position: relative;
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
    }

    .hovereffect a {
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        width:75%;
        position: relative;
        font-size: 17px;
        padding: 10px;
        background: rgba(0, 0, 0, 1);
        margin: 0px;
        display: inline-block;
    }

    .hovereffect a.info {
        display: inline-block;
        text-decoration: none;
        padding: 7px 14px;
        text-transform: uppercase;
        color: #fff;
        border: 1px solid #fff;
        margin: 50px 0 0 0;
        background-color: transparent;
    }

        .hovereffect a.info:hover {
            box-shadow: 0 0 5px #fff;
        }


    .hovereffect p.icon-links a {
        float: inherit;
        color: #fff;
        font-family: 'Sailec','Helvetica Neue',Helvetica,Arial,sans-serif;
        letter-spacing: .1em;
        font-weight: 400;
        line-height: 1.4;
        font-style: normal;
        font-size:11px;
        text-decoration:none;
    }

    .hovereffect:hover p.icon-links a:hover,
    .hovereffect:hover p.icon-links a:focus {
        color: #aaa;
    }

    .hovereffect h2,
    .hovereffect p.icon-links a {
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
        -webkit-transform: translate3d(0,200%,0);
        transform: translate3d(0,200%,0);
        visibility: visible;
    }

        .hovereffect p.icon-links a span:before {
            display: inline-block;
            padding: 8px 10px;
            speak: none;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }


    .hovereffect:hover .overlay,
    .hovereffect:hover h2,
    .hovereffect:hover p.icon-links a {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    .hovereffect:hover h2 {
        -webkit-transition-delay: 0.05s;
        transition-delay: 0.05s;
    }

